<!-- This button links to the user profile page -->
<button mat-button color="primary" routerLink="/user-profile">User Profile</button>

<!-- This div displays a flex layout -->
<div style="display: flex;">

    <!-- This part uses *ngFor to loop through each 'movie' in the 'movies' array -->
    <mat-card *ngFor="let movie of movies;" style="flex: 1 1 auto;">

        <!-- Card header with movie title and director's name -->
        <mat-card-header>
            <mat-card-title>{{ movie.Title }}</mat-card-title>
            <mat-card-subtitle>Directed by: {{ movie.Director.Name }}</mat-card-subtitle>
        </mat-card-header>

        <!-- Displaying the movie image with alt text as the movie title -->
        <img src="{{ movie.ImagePath }}" alt="{{ movie.Title }}" />

        <!-- Card actions, including buttons for movie details and adding to favorites -->
        <mat-card-actions>
            <!-- Button to open a dialog to show movie details -->
            <button mat-button color="primary" (click)="openDialog('details', movie)">
                Details
            </button>

            <!-- Button to add the movie to favorites, conditionally shown -->
            <button mat-button color="primary" *ngIf="!isFavoriteMovie(movie._id)" (click)="addToFavorites(movie)">
                Add to Favorites
            </button>

            <!-- Icon to show if the movie is already a favorite, conditionally shown -->
            <mat-icon color="warn" *ngIf="isFavoriteMovie(movie._id)">favorite</mat-icon>
        </mat-card-actions>
    </mat-card>
</div>
