<div class="movie-card-container">
  <mat-card *ngFor="let movie of movies;">
    <div class="image-container">
      <img [src]="movie.ImagePath" alt="{{ movie.Title }}">
    </div>
    <mat-card-content>
      <mat-card-header>
        <mat-card-title>{{ movie.Title }}</mat-card-title>
        <mat-card-subtitle>Directed by: {{ movie.Director.Name }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <button mat-button color="primary" (click)="openDialog('details', movie)">
          Details
        </button>
        <button mat-button color="primary" *ngIf="!isFavoriteMovie(movie._id)" (click)="addToFavorites(movie)">
          Add to Favorites
        </button>
        <mat-icon color="warn" *ngIf="isFavoriteMovie(movie._id)">favorite</mat-icon>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>
